.header {
    background-color: black;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
/* need to change the format of the above padding */
}

.title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.025em;
  background-image: linear-gradient(to right, #22d3ee, #c084fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.button {
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    border: 0px;
}

.button:hover {
    cursor: pointer;
}

.signup {
    background-color: blue;
    color: #FFFFFF;
}

.login {
    background-color: lime;
    color: #000000;
}
